header {
  font-variant: small-caps;
  text-align: center;
}

section {
	margin-left: 20%;
	width: 60%;
}

code {
  overflow: auto;
}

h2#title {
  text-align: center;
}

.menu {
  text-align: center;
  background: rgba(255, 255, 255, 0) url(images/separator.png) 
                                              no-repeat center bottom;
}
.menu ul.nav-pills {
  display: inline-block;
}

.menu li {
  display: inline;
}

.pagination {
  text-align: center;
  padding: 10px 0 10px 0;
}

footer {
  padding: 10px 0 20px 0;
  font-size: 14px;
  margin-top: 20px;
  padding-top: 30px;
  background: rgba(255, 255, 255, 0) url(images/separator.png) 
                                                 no-repeat center top;
  text-align: center;
  color: #748489;
}

table
{
border-collapse:collapse;
}

table,th, td
{
text-align: center;
border: 2px solid #748489;
padding: 3px;
}
